.container1 {
    margin-left: 4vw;
    margin-right: 4vw;
}

.image1 {
    width: 20vw;
    float: right;
    margin-left: 2vw;
    margin-bottom: 2vw;
} 

.image2 {
    width: 20vw;
    float: left;
    margin-right: 2vw;
    margin-bottom: 2vw;
} 

.image3 {
    width: 20vw;
    float: right;
    margin-left: 2vw;
    margin-bottom: 2vw;
} 

.clear {
    clear: both;
}

p{
    text-align: justify;
    margin-top: 2px;
}