.container1 {
    background-color: lightblue;
    font-family: Abel;
}

.container2 {
    background-color: lightcoral;
    font-family: Borel;
}

.container3 {
    background-color: lightgreen;
    font-family: 'Crimson Text';
}

.container4 {
    background-color: lightgray;
    font-family: Handjet;
}

.container5 {
    background-color: lightsalmon;
    font-family: 'Roboto Slab';
}

span{
    color: red;
}