body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9c/Forms.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-color: rgb(180, 150, 255);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

img {
    width: 50px;
}

button {
    padding: 2%;
    width: 40%;
}

.flex {
    display: flex;
    justify-content: center;
}

/*Div com o labels*/
.flex-label {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
}

/*Ajustando tamanho dos labels e suas posições*/
.flex-label>label {
    padding-bottom: 5.5%;
    padding-right: 2%;
    font-size: 115%;
}

/*Ajustar altura do botão enviar*/
.flex-label>div {
    padding-top: 15.35%;
    padding-right: 2%;
}

/*Div com inputs do formulário*/
.flex-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

/*Ajustando posição dos inputs*/
.flex-input>div {
    padding-bottom: 6.6%;
}

/*Transformando form em flex e ajustando sua posição*/
form {
    display: flex;
    justify-content: center;
}

/*Container utilizado para ajustar os inputs*/
.container {
    display: flex;
    flex-wrap: nowrap;
}

/*Utilizado para deixar responsivo os labels dos inputs*/
.container>label {
    font-size: 100%;
}


/*Ajustes de margens*/
.ajuste1 {
    padding-top: 0%;
}

.ajuste2 {
    padding-top: 9%;
}

.ajuste3 {
    padding-top: 20%;
}

.ajuste4 {
    padding-top: 18%;
}
